@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

body {
	font-family: 'Montserrat', sans-serif;
	/*font-weight: 700; */
	color: white;
	background: url(img/ylean.jpg);
	background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-color: #cb7ad5;
}

::-moz-selection {
    color: white;
    background: #cb7ad5;
}

::selection {
    color: white; 
    background: #cb7ad5;
}

.portrait {
/*	position: absolute;
	top: 50%;
	left: 50%;*/

	width: 200px;
	height: 200px;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	margin: 0 auto;

/*	margin-top: -100px;
	margin-left: -100px;*/
	/*margin-left: auto;
	margin-right: auto;
	margin-top: 200px;*/

	background: url(img/shayan200.png) no-repeat;
	box-shadow: 0px 0px 100px #FFF;

	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  			transform: translateY(-50%);
}

.footer {
	position: fixed;
	bottom:50px;
	width:100%;
	text-align: center;
	color:white;
}

.info {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	color: #CCC;
}

.info a {
	color: #FFF;
}

.info a:hover {
	color: #cb7ad5;
}

.name {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: white;
	letter-spacing: 10px;
}

.icons {
	font-size: 2em;
	letter-spacing: 15px;
}

.icons a {
	color:#FFFEEE;
	-webkit-transition: color 0.3s; /* For Safari 3.1 to 6.0 */
    transition: color 0.3s;
	text-decoration: none;
}

.icons a:hover {
	color:#AAA;
	text-decoration: none;
}

.icons a:active {
	color:#FFFEEE;
	text-decoration: none;
}