
.icon-lastfm-circled:before { content: '\e800'; } /* '' */
.icon-linkedin-circled:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-spotify:before { content: '\e803'; } /* '' */